body{
    margin: 0;
    background-color: #181818;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
min-height: 100vh;
}
.body{
    outline: 1px solid;
    width:400px;
    height: 500px;
    border-radius:20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.inp{
    margin-top: 20px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    background-color: #555;
    border: none;
    box-shadow: none;
}
#submit-btn{
    background-color: rgb(10, 61, 188);
}